<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disco</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>
<body class="bg-custom-disco mt-20">
    
    <div id="disco-total" class="">
        <h1 class="text-9xl text-center font-lalezar">Disco</h1>
            
            <div class="flex  max-w-sm mx-auto">
                <div class="relative w-full">
                    <input type="text" id="artistName" placeholder="Enter artist name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full py-3 px-6 focus:ring-1 block w-full ps-10 p-2.5  dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                </div>

                <div>
                    <button id="searchBtn" class="p-2.5 ms-1 text-sm font-medium  bg-gray-700 focus:outline-none focus:ring-gray-300 dark:bg-transparent dark:text-gray-900 dark:focus:ring-gray-800">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </button>
                </div>  
            </div>

            <div>
                <ul id="songsList" class="mx-auto max-w-sm mt-8 flex flex-col gap-2.5 w-full ">  
                </ul>
            </div>
    </div>


        
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
